<div class = "course-subject" style = "background-color: 
  <%= course.enrollment_subjects.unfinish_subjects.count>0 ?  "pink" : "silver" %>">
  <%= course.enrollment_subjects.unfinish_subjects.count>0 ? "Open" : "Finished" %>
</div>