<div class = "course-subject" style = "background-color: 
  <%= course.course_subjects.unfinish_subjects.count>0 ?  "silver" : "pink" %>">
  <%= course.course_subjects.unfinish_subjects.count>0 ? "Training" : "Finished" %>
</div>