<% provide :title, "Supervisor | Subjects" %>

<h1 class="page-header">All Subjects</h1>

<% if @subjects.any? %>
  <%= will_paginate @subjects %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Number of Tasks</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <%= render @subjects %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">There is no subject available right now!</div>
<% end %>

<%= link_to "New Subject", new_supervisor_subject_path, class: "btn btn-primary" %>