<div class= "col-md-2">
  <ul class="menubar-nav">
    <li>
      <%=link_to "Courses","#"%>
    </li>
    <li>
      <%=link_to "Users",users_path%>
    </li>
    <li>
      <%=link_to "History","#"%>
    </li>
    <li>
      <%=link_to "Report","#"%>
    </li>
  </ul>
</div>